.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 25px;
    color: white;
}
.logo p{
    font-size: 30px;    
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.logo p:hover{
    color: #adadad;
}
.menu-items ul{
    font-size: 20px;
    margin-right: 50px;
    display: flex;
    gap: 50px;
    list-style: none;
    cursor: pointer;
}
.menu-items ul li{
    transition: all 0.3s ease-in-out;
}
.menu-items ul li:hover{
    color: #adadad;
}